<div id="body">
    <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid">
            <h1 style="color:chartreuse;;">Product Dashboard</h1>
            <div class="d-flex">
                <button type="button" (click)="cilckAddBook()"class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product</button>
            </div>
        </div>
    </nav>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let row of bookData">
                <td>{{row.id}}</td>
                <td>{{row.title}}</td>
                <td>{{row.category}}</td>
                <td>{{row.description}}</td>
                <td>{{row.image}}</td>
                <td>{{row.price}}</td>
                <td>
                    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editBook(row)">&#9998;</button>
                    <button class="btn btn-danger mx-3" (click)="deleteBooks(row)">&#10060;</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Product name</label>
                      <input type="text" class="form-control" formControlName="title" id="exampleInputEmail1" aria-describedby="emailHelp">
                     
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Category</label>
                      <input type="text" class="form-control" formControlName="category" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Description</label>
                        <input type="text" class="form-control" formControlName="description" id="exampleInputPassword1">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Image Link </label>
                        <input type="text" class="form-control" formControlName="image" id="exampleInputPassword1">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Price</label>
                        <input type="text" class="form-control" formControlName="price" id="exampleInputPassword1">
                      </div>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" *ngIf="showAdd" (click)="postBookData()" class="btn btn-primary">Add Product</button>
              <button type="button" *ngIf="showUpdate" (click)="updateBook()" class="btn btn-primary">Update Product</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      