<form #userform="ngForm" (ngSubmit)="login()">
   <div id="form">
      <div class="container">
         <div class="content-form">
            <div class="form-setter">
            
               <div id="login">
                  <div class="lable">Login</div>>
               <div class="container-fluid form-controlers">
                  <input type="email" placeholder="Email Id"  [(ngModel)]='user.email' name='email' required>
                  <input type="password" placeholder="Password"  [(ngModel)]='user.password' name='password'required>
                  <button  id="submit">login</button>
               </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>